
/* Custom properties */

:root
{
  --main-padding-left: 40px;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #bf8970;
  --color-light-gray: #f3f1f0;
  --color-medium-gray: #cfcac8;
  --color-light-green: #98b698;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

/* General */

body {
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  margin: 0;
  padding: 20px 0 20px var(--main-padding-left);
  background: white;
}

ul {
  margin: 0;
  padding: 0;
}

.container-content {
  padding: var(--main-padding-left);
  background: var(--color-light-gray);
}

.button {
  border: 1px solid var(--color-medium-gray);
  margin-top: 30px;
  padding: 10px 20px;
  background: white;
}

.button:hover {
  cursor: pointer;
}

.button[disabled] {
  background: var(--color-light-gray)
}

.select {
  display: block;
  width: 400px;
  border: 1px solid var(--color-medium-gray);
  margin-top: 30px;
  padding: 8px;
  font-family: Open Sans;
}

/* Navbar */

.nav {
  display: flex;
  height: 50px;
  border-bottom: 1px solid var(--color-light-gray)
}

.nav ul {
  flex: 1;
  display: flex;
  padding: 15px var(--main-padding-left);
  list-style-type: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-info {
  font-size: 12px;
  padding: 10px;
  text-align: left;
}

.btn-logout {
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid var(--color-light-gray);
  border-width: 0 0 0 1px;
}

.btn-logout:hover {
  cursor: pointer;
}

/* Error Page */

.container-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-error svg {
  font-size: 300px;
}

/* Pollsboard */

.tabview-header {
  display: flex;
  list-style-type: none;
  padding: 0;
  background: var(--color-light-gray);
}

.tabview-item {
  flex: 1;
  padding: 15px;
  background: transparent;
  border: none;
  font-size: 18px;
}

.tabview-item + .tabview-item {
  border-left: 1px solid var(--color-medium-gray);
}

.tabview-item:hover,
.tabview-item:focus,
.tabview-item[aria-selected="true"] {
  background: black;
  color: white;
  cursor: pointer
}

.tabview-body {
  padding: var(--main-padding-left);
}

.tabview-body ul {
  padding: 0;
}

.poll-short {
  display: block;
  background: var(--color-light-gray);
  padding: 15px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

/* PollPage */

.container-vote {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.author {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: 10px;
}

.author p {
  font-size: 12px;
  margin: 0 10px 0 0;
  display: inline;
}

.container-radio + .container-radio {
  margin-top: 10px;
}

.container-radio input {
  margin: 0 10px 0 0;
}

.container-vote form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.container-result {
  width: 100%;
}

.result {
  display: flex;
  position: relative;
  background: white;
  border: 1px solid var(--color-medium-gray);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.total {
  width: 40px;
  font-size: 10px;
}

.text-bar {
  flex: 1;
  justify-content: flex-start;
  margin-left: 20px;
  font-weight: bold;
}

.bar {
  height: 9px;
  margin: 6px auto auto 0px;
  background: blue;
}

.marker-vote {
  position: absolute;
  padding: 2px 8px;
  top: -14px;
  left: -13px;
  transform: rotate(-24deg);
  background: var(--color-light-green);
}

/* Add poll */

.container-with-img {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: var(--color-light-gray);
  padding: var(--main-padding-left)
}

.container-with-img > div,
.container-with-img > form {
  flex: 1;
}

.container-with-img > form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  padding-right: 30px;
}

.container-with-img .add-form {
  align-items: baseline;
}

.container-with-img div + form {
  margin-left: 30px;
}

.input-option {
  display: block;
  width: 400px;
  border: 1px solid var(--color-medium-gray);
  padding: 8px;
  font-family: Open Sans;
}

.input-option::placeholder {
  font-family: Open Sans;
}

.input-option + .input-option {
  margin-top: 20px
}

.container-icon {
  max-width: 400px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.container-with-img svg {
  font-size: 128px;
  background: black;
  color: white;
}

/* Leaderboard */

.leaderboard-entry {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.rank {
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  font-size: 32px;
  color: black;
}

.rank span {
  position: absolute;
  color: black;
  font-size: 16px;
  top: 4px;
}

.rank.first {
  color: var(--color-gold)
}

.rank.second {
  color: var(--color-silver)
}

.rank.third {
  color: var(--color-bronze)
}

.leaderboard-info {
  flex: 1;
}

.avatar {
  width: 25px;
  border-radius: 50%;
  border: 1px solid var(--color-light-gray);
  background: white;
  margin-right: 10px;
}

.leaderboard-info p {
  margin: 0;
}

.leaderboard-info .name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.leaderboard-total {
  width: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: white;
  font-size: 20px;
  font-weight: bold;
}
