/* Custom properties */

:root {
  --main-padding-left: 40px;
}

/* General */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  padding-left: var(--main-padding-left);
}

ul {
  margin: 0
}

.button {
  border: 2px solid black;
  padding: 5px 10px;
  background: white;
  border-radius: 5px 5px;
}

/* Navbar */

.nav {
  display: flex;
  padding: 15px var(--main-padding-left);
  list-style-type: none;
}

.nav-item {
  margin-right: 20px
}

.nav-item a {
  text-decoration: none
}

.nav-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Pollsboard */

.tabview-header {
  display: flex;
  list-style-type: none;
  padding: 0;
  background: #D3D3D3
}

.tabview-item {
  flex: 1;
  padding: 15px;
  background: transparent;
  border: none
}

.tabview-item + .tabview-item {
  border-left: 1px solid black;
}

.tabview-item:hover,
.tabview-item:focus,
.tabview-item[aria-selected="true"] {
  background: black;
  color: white;
  cursor: pointer
}

.tabview-body {
  padding: var(--main-padding-left);
}

.tabview-body ul {
  padding: 0;
}

.poll-short {
  background: #D3D3D3;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Add poll */

.form-add {
  padding-left: var(--main-padding-left);
}

.input-option {
  display: block;
  width: 400px;
}

.input-option + .input-option {
  margin-top: 20px
}